<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Shortener</h3>
        </div>

        <div class="jumbotron">
          <form class="form" role="form" action="/add">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Url goes here" name="url">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go</span></button>
                    </div>
                </div>
            </form>
        </div>

        <%- include('../partials/showLink') %>

        <footer class="footer">
            <%- include('../partials/footer') %>
        </footer>
    </div> <!-- /container -->
</body>
</html>
